*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    height: inherit;  
}  

header nav .nav-rigth-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}


.nav-rigth-section a{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    cursor:pointer;
}

a:hover{
    opacity: 50%    ;
}

.imgRedonda{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 1rem;

}

 nav .nav-rigth-section .iconMenu{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    width: 32px;
    height: 32px;
}

main{
    width: 100%;
    height: 800px;
}

main .Main-logo{
  width: 530px;
  margin: 0 auto;
}

main .Main-logo img{
    margin: 0 auto;
}
  

main .main-searchBar{
 width: inherit;
 height: 225px;
 display: flex;
 justify-content: center;
}

main .main-searchBar .main-input-container{
    border-style: solid;
    border-radius: 10%;
    height: 44px;
    width: 582px;
}

main .main-buttoms{
    width: inherit;
    height: 225px;
}

